* {
    background-color: gray;
}

.container {
    background-color: white;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    border: 2px solid black;
    width: 353px;
    height: 585px;
    border-radius: 10px;
    box-shadow: 0 10px 20px black;
}

.headTitle {
    font-size: 25px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgrey;
    font-weight: bold;
}

.form {
    text-align: center;
    margin: 5px 10px 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 10px 10px 5px 10px;
}

.form-title {
    font-size: 21px;
    background-color: lightgrey;
 }

p {
    background-color: lightgray;
 }

.btn-default {
    width: 94%;
    background-color: black;
    color: white;
    border: 1px solid black;
    margin: 5px 10px 5px 10px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

.btn-default:hover {
    color: black;
    background-color: gray;
    font-weight: bold;
}

.workout-box {
    font-size: 15px;
    text-align: center;
    padding: 5px 10px 5px 10px;
    margin: 5px 10px 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgrey;
    height: 200px;
}

.exercise {
    background-color: lightgrey;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    font-family: 'poppins', sans-serif;
}

.ex {
    background-color: lightgray;
    height: 30px;
    padding-top: 3px;
}

input[type='radio'] {
    display: none;
}

label {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 2.5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 75px;
    background-color: lightgray;
    cursor: pointer;
}

label:before {
    content: '';
    height: 10px;
    width: 10px;
    border: 2px solid black;
    border-radius: 50%;
    margin-right: 20px;
}

input[type='radio']:checked + label {
    background-color: gray;
    color: black;
}

input[type='radio']:checked + label:before {
    height: 10px;
    width: 10px;
    border: 3px solid white;
    background-color: black;
}